.dialogs {
	display: grid;
	grid-template-columns: 2fr 8fr;
}

.contacts {
	padding-left: 30px;
	align-items: center;
}
.contacts div {
	padding: 15px;
	border: 1px solid #000;
	border-top: none;
	display: flex;
	align-items: center;
}
.contacts div:first-child {
	border-top: 1px solid #000;
}
.contacts img {
	width: 50px;
	height: auto;
	border-radius: 50%;
	margin-right: 25px;
}
.sms {
}
.sms div {
	padding: 15px 25px;
}

.active {
	color: gold;
}

.evenMessage:nth-child(even) {
	text-align: right;
}

.textarea {
	width: 90%;
	border-radius: 5px;
}
.button {
	padding: 10px 15px;
	display: inline-block;
	border-radius: 5px;
	margin-left: 20px;
	font-weight: 500;
	font-size: 14px;
}

.flex {
	display: flex;
	margin-bottom: 20px;
}
