.content img {
	max-width: 100%;
}
.item {
	color: red;
}

.title {
	margin: 15px;
	font-weight: 700;
	font-size: 20px;
}
.textarea {
	width: 50%;

	border-radius: 5px;
}
.button {
	padding: 10px 15px;
	display: inline-block;
	border-radius: 5px;
	margin-left: 20px;
	font-weight: 500;
	font-size: 14px;
}

.flex {
	display: flex;
	margin-bottom: 20px;
}
