.wrapper {
	display: grid;

	grid-template-columns: 150px 1fr;
	grid-template-rows: 1fr auto;

	grid-template-areas:
		"h h"
		"n c";
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
.page {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
body {
	size: 14px;
	color: white;
}
.content {
	grid-area: c;
	background: rgb(27, 20, 20);
	background: linear-gradient(180deg, rgba(27, 20, 20, 1) 0%, rgba(31, 73, 101, 1) 50%, rgba(59, 125, 131, 1) 100%);
}
html {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
